:root {
  --field-width: 400px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.game-screen {
  display: grid;
  grid-template-columns: minmax(var(--field-width), 3fr) 1fr;
  grid-auto-rows: minmax(var(--field-width), auto);
  grid-template-areas: "play-field stats-panel";
}

/* Play field */

.play-field {
  grid-area: play-field;
  font-size: 1rem;
  margin: 1em auto;
  padding: 3px;
  background-color: lightslategray;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 1px;
  row-gap: 1px;
  width: var(--field-width);
}

.play-field--cell {
  background-color: whitesmoke;
  padding-top: 100%;
  cursor: pointer;
}

.play-field--cell.rabbit {
  background-color: lightgreen;
}

.play-field--cell.snake {
  background-color: orange;
}
.play-field--cell.snake.head {
  background-color: rgb(233, 141, 3);
}

.play-field--cell:hover {
  opacity: 0.9;
}

/* Game statuses */

.status--pause,
.status--game-over {
  opacity: 0.8;
}

.status--game-over .play-field {
  background-color: rgb(153, 2, 2);
}

/* Stats panel */
.stats-panel {
  grid-area: stats-panel;
  text-align: left;
  margin: 1em;
}

.stats-panel-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 0.2em;
}

/* Message */

.message {
  margin-top: 1rem;
  background: #efefef;
}

.message--inner {
  padding: 1rem;
}

/* Button  */
.button {
  margin-top: 1rem;
  padding: 0.4rem 0.8rem;
}
